.certificate {
  margin-top: 80px;
  a {
    text-decoration: none;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    transition: 0.5s ease;
    @include breakpoint(mobile) {
      flex-direction: row;
    }

    &:hover {
      transition: 0.5s ease;
      transform: translate(0, -8px);
      background: linear-gradient(to top, #8f6b29, #fde08d, #df9f28);
    }

    &__title {
      font-size: 2rem;
      font-weight: 400;
      color: $c-text-primary;
    }

    &__image {
      width: 250px;

      img {
        width: 100%;
      }
    }
  }
}
