.certificate {
  position: relative;
  margin-top: 80px;
  border: 2px solid #e1e1e1;
  transition: 0.2s ease-in-out;

  a {
    text-decoration: none;
  }
  &:hover {
    border-color: #838383;
    background-color: #00000029;
    .pop-up {
      transition: 0.2s ease-in-out;
      pointer-events: unset;
      transform: translate(0%, -45%);
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    @include breakpoint(mobile) {
      flex-direction: row;
    }

    &__title {
      font-size: 2rem;
      font-weight: 400;
      color: $c-text-primary;
    }

    &__image {
      width: 250px;

      img {
        width: 100%;
      }
    }
  }
}
