.contribute-github {
  display: flex;
  position: relative;
  margin-left: 30px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    color: #0f104d;
    background-color: #f5f5f5;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-shadow: 0 8px 24px -17px #000101;
    max-height: 30px;

    img {
      width: 30px;
    }

    &:hover {
      background-color: #b4daf1;
    }
  }

  span {
    margin-right: 5px;
    width: 100%;
  }
}
