.education {
  margin-top: 80px;
  width: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;

    @include breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      border: 2px solid #e1e1e1;
      border-radius: 5px;

      img {
        width: 100px;
      }
    }
  }
}
