.education {
  margin-top: 80px;
  width: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;

    @include breakpoint(desktop) {
      flex-direction: row;
      align-items: center;
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px 30px;
      border: 2px solid #e1e1e1;
      border-top: 4px solid #01d402;
      border-radius: 5px 5px 5px 5px;

      &--degree {
        border-top: 4px solid #01d402;
      }

      &--school {
        border-top: 4px solid #517894;
      }

      img {
        width: 100px;
      }
    }
  }
}
