.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: $c-footer;
  color: $c-white;
  padding: $padding-mobile;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 60px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 40px;

  @include breakpoint(mobile) {
    flex-direction: row;
  }

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }

  @include breakpoint(desktop) {
    padding: $padding-desktop;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include breakpoint(desktop-large) {
    padding: $padding-desktop-large;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  a {
    color: $c-white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;

    p {
      margin: 0;
      text-align: left;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;

    &__title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px !important;
    }

    &__link {
      margin-top: 15px !important;

      a {
        font-size: 16px;
        text-decoration: underline;
        font-weight: 500;
        color: rgb(114 216 255);
        &:hover {
          text-decoration: none !important;
          border-radius: 5px;
          background-color: $c-text-title-secondary;
        }
      }
    }
  }

  &__social,
  &__contact {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 15px;
      border-radius: 5px;
      cursor: pointer;

      img {
        width: 25%;
        margin-right: 5px;
      }

      &:hover {
        text-decoration: none;
        background-color: $c-text-title-secondary;
      }
    }
  }
}
