.main-description {
  display: flex;
  flex-direction: column;

  &__content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }

  &__content-picture {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-right: 150px;
  }

  &__name {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 350;
    color: $c-text-primary;
    margin: 0;
  }

  &__subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: $c-text-title-secondary;

    @include breakpoint(desktop) {
      text-align: left;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.25;
    background: -webkit-linear-gradient(
      165deg,
      $c-text-primary-hover,
      $c-text-primary
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;

    @include breakpoint(mobile) {
      font-size: 58px;
      font-weight: 700;
    }
  }

  button {
    display: flex;
    position: relative;
    padding: 18px 30px;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: #4169e1;
    color: white;
    font-family: "Museosans 700", sans-serif;
    font-size: 18px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;

    span {
      display: block;
      margin-left: 0.3em;
      transition: all 0.3s ease-in-out;
    }

    svg {
      display: block;
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    &:hover svg {
      transform: translateX(4.5em) rotate(45deg) scale(1.1);
    }

    &:hover span {
      transform: translateX(30em);
    }

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background-color: #343ba5;
    }

    @keyframes fly-1 {
      from {
        transform: translateY(0.1em);
      }

      to {
        transform: translateY(-0.1em);
      }
    }
  }

  &__picture {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 10%;
    background-image: url(../../assets/images/1.webp);
    background-size: cover;
    background-size: 200%;
    background-position: 88% 0px;

    @include breakpoint(desktop) {
      max-width: 550px;
      min-width: 350px;
    }
    img {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 250px;
      @include breakpoint(mobile) {
        max-width: 360px;
      }
      @include breakpoint(desktop) {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 360px;
      }
    }
  }

  &__works {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @include breakpoint(desktop) {
      flex-direction: row;
      margin-top: 100px;
    }

    &__title {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.5;
      margin-right: 20px;
      color: $c-text-title-secondary;
      width: 15%;
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        width: 100%;
        border: 2px solid rgb(156, 156, 156);
        border-radius: 10px;
      }
    }
  }
}
