.pop-up {
  display: flex;
  position: absolute;
  justify-content: center;
  right: -15px;
  top: 0;
  padding: 10px 5px;
  border: 1px solid #6d6d6d;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
  transition-property: opacity, transform;

  &:hover {
    background-color: #303030;
    img {
      filter: invert(1);
    }
  }

  img {
    width: 60%;
  }
}
