.projects {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 80px;

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 100%;

    @include breakpoint(desktop) {
      flex-direction: row;
    }

    &__project {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-decoration: none;
      color: $c-text-primary;
      min-height: 430px;
      border: 1px solid rgb(209, 209, 209);
      transition: 0.3s ease;

      img {
        width: 100%;
        height: 100%;
      }

      &--title {
        display: block;
        position: relative;
        padding: 10px 30px;

        h2 {
          min-height: 64px;
        }
      }

      &:hover {
        img {
          transition: 0.3s ease;
          filter: brightness(0.5);
        }

        .projects__content__project--title {
          transition: 0.3s ease;
          color: $c-text-primary-hover;
        }
      }
    }
  }
}
