.home {
  display: block;
  position: relative;
  padding: $padding-mobile;
  margin-top: 150px;
  z-index: 0;

  @include breakpoint(desktop) {
    padding: $padding-desktop;
    margin-top: 230px;
  }

  @include breakpoint(desktop-large) {
    padding: $padding-desktop-large;
  }
}
