.home {
  display: block;
  position: relative;
  padding: $padding-mobile;
  margin-top: 150px;
  z-index: 0;

  @include breakpoint(desktop-medium) {
    padding: $padding-desktop;
    margin-top: 200px;
  }
}
