$c-text-primary: #0f104d;
$c-text-primary-hover: #2a85ee;
$c-text-title-name: #00012e;
$c-text-title-secondary: #747474;

$c-background-body: #f5f5f5;
$c-background-hover: #f5f5f5;

$c-white: #fff;
$c-footer: #363636;
$c-under-footer: #141414;

$padding-mobile: 0 5%;
$padding-desktop: 0 15%;

// BREAKPOINTS
// Small screen / phone
$bp-mobile: 599px;
// Medium screen / tablet
$bp-tablet: 768px;
// Large screen / tablet portrait
$bp-desktop: 1024px;
// Large screen / desktop
$bp-desktop-medium: 1200px;
// Extra large screen / wide desktop
$bp-desktop-large: 1440px;
// Extra extra large screen / extra wide desktop
$bp-desktop-extra-large: 1680px;

// Breakpoints in the form (name: length)
$breakpoints: (
  mobile: $bp-mobile,
  tablet: $bp-tablet,
  desktop: $bp-desktop,
  desktop-medium: $bp-desktop-medium,
  desktop-large: $bp-desktop-large,
  desktop-extra-large: $bp-desktop-extra-large,
) !default;
